@import url('gruvbox.css');

/* header */
.header {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header a {
  text-decoration: none;
  color: #444;margin-bottom
}

.header a:hover {
  opacity: 0.5;
}

nav {
  width: 30%;
  margin: 0;
}

.header ul {
  display: flex;
  justify-content: space-between;
}

.header li {
  display: inline;
  font-size: 22px;
}

.logo {
  font-size: 30px;
}

/* footer */
.footer {
  border-top: solid;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.copyright {
  margin: 20px 0;
}

/* home */
.title {
  text-align: center;
  margin: 50px auto;
}

.home {
  margin: 180px 0;
  text-align: center;
}

.greeting {
  font-size: 80px;
  margin: 50px auto;
}

.button-group {
  max-width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

a.button {
  display: inline-block;
  width: 100px;
  margin: auto 20px;
  padding: 10px;
  border-radius: 4px;
  color: #444;
  text-decoration: none;
  border: solid;
}

.button:hover {
  opacity: 0.5;
}

/* about */
.about-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-img {
  width: 50%;
  display: inline-block;
}

.about-txt {
  width: 50%;
}

.icon {
  width: 80%;
}

.link {
  font-size: 20px;
}

/* post */
.item {
  margin: 12px 0;
}

.post-title {
  margin-top: 0;
  border-bottom: solid;
}

.post-content img {
  max-width: 80%;
  max-height: 600px;
  margin: 10px auto;
  display: block;
}

.highlight {
  padding: 1px;
  overflow-x: auto;
}

@media (max-width: 768px) {
  body {
    max-width: 90%;
  }

  .header {
    margin-top: 0;
  }

  nav {
    width: 40%;
    margin: 0;
  }

  .header ul {
    padding: 0;
  }

  .home {
    margin: 100px 0;
    text-align: center;
  }

  .greeting {
    font-size: 50px;
    margin: 50px auto;
  }

  a.button {
    margin-bottom: 40px;
  }

  .about-img {
    width: 80%;
    margin: auto;
  }

  .about-txt {
    width: 100%;
  }

  .icon {
    width: 100%;
  }

  .post-content img {
    max-width: 100%;
  }
}
